/*Settings globales-----------------------------------------------------------------------------------------------------------------------*/

:root {
    --verde:#568203;
    --verdeclaro:#a6c620;
    --blanco:#ffffff;
    --cafe:#704012;
    --rosa:#cd9989;
    --rojo:#e30505;
    --gris:#E9E9E9;
    --grisoscuro:#E1E1E1;
    --negro:#111111;
    --fuente: 'Dm Sans';
}

html {
    box-sizing: border-box;
    font-size: 62.5%;             /*Hace que 1rem sea igual 10px*/
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

main {
    margin: 0%;
    padding: 140px 200px 25px 200px;
    background-color: var(--blanco);
    justify-content: center;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

.boton {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    border: none;
}

/** Terminan Globales -------------------------------------------------------------------------------------------------------------------**/

/*Navegador header-----------------------------------------------------------------------------------------------------------------------*/

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 12rem;
    font-size: 16px;
    padding: 20px 16px;
    /*margin-top: 15px;*/
    position: fixed;
    background-color: var(--blanco);
    z-index: 1;
}

header nav img#paltacate-icon {  /*settings del tamaño del logo*/
    width: 10rem;
    height: 10rem;
    padding: 4px;
}

header nav img#paltacate-icon:hover {  /*sobrea alrededor del logo*/
    background-color: var(--gris);
    border-radius: 80px;
}

.first{
    display: flex;
}

.first a {
    text-decoration: none;
    color: var(--negro);
}

.first li {
    list-style: none;
    padding: 0px 12px;
}

.first li #inicio {
    background-color: var(--verde);
    color: var(--blanco);
    border-radius: 30px;
    padding: 14px 12px 14px;
}

/*.menu {
    display: none;
}*/

/*.crear {
    display: flex;
}*/

.search {
    flex-grow: 1;
    height: 48px;
    background-color: var(--gris);
    border-radius: 30px;

}

.search:hover {
    background-color: var(--grisoscuro);
}

.search:focus-within {        /*acciona el borde de search al clicar*/
    border: 2px solid #7FC1FF;
}

.barra {
    display: flex;
    align-items: center;
    height: 48px;
}

#lupa {
    padding: 10px;
    color: #767676;
    font-size: 20px;
    font-weight: bolder;
}

.barra input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
    flex-grow: 1;
}

.barra input:hover + .material-symbols-outlined {
    display: none;
}


.right-items span {
    padding: 8px;
    color: #767676;
    font-size: 28px;
}

.right-items span:hover {
    background-color: #E9E9E9;
    border-radius: 150px;
}
/*termina navegador header-----------------------------------------------------------------------------------------------------------*/

/* baner ----------------------------------------------------------------------------------------------------------------------------*/


.baner {
    background-image: url(../img/baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 50px;
    border-radius: 20px;
}

.contenido-baner {
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.contenido-baner h1 {
    color: var(--blanco);
}

/* termina baner-------------------------------------------------------------------------------------------------------------------------*/

/* Recetas-------------------------------------------------------------------------------------------------------------------------------*/


.receta-container a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}

.receta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-bottom: 30px;
}

.receta-preview {
    /*text-decoration: none;*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 200px;
}

.thumbnail {
    width: 300px;
    height: 100%;
    border-radius: 10px;
}

.thumbnail-row {
    position: relative;
}

.receta-info {
    position: relative;
    margin-top: 20 px;
    margin-left: 20px;
    flex-grow: 1; /* Permitirá que .receta-info ocupe todo el espacio disponible en el contenedor flex */
    display: flex; /* Para centrar verticalmente el botón */
    flex-direction: column; /* Para apilar verticalmente los elementos dentro de .receta-info */
    align-items: center; 
}

.receta-info .boton {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.receta-info .boton:hover {
    background-color: var(--cafe); /* Cambia el color de fondo al pasar el cursor */
    color: var(--blanco); /* Cambia el color del texto al pasar el cursor */
}

.receta-title {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.receta-description {
    font-weight:500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}

.receta-stats {
    font-size: 16px;
    color: rgb(96, 96, 96);
}
/*Termina recetas-------------------------------------------------------------------------------------------------------*/

/*Empieza about us---------------------------------------------------------------------------------------------------------*/

.container-au {
    /*max-width: 800px;*/
    margin: 0 auto;
    padding: 30px;
}

.sobre-nosotros {
    background-color: #f5f5f5;
    padding: 5px 0;
}

.content-au {
    display: flex;
    align-items: center;
}

.image {
    flex: 0 0 auto;
    margin-right: 20px;
}

.image img {
    width: 250px; /* ajustar el tamaño de la imagen según sea necesario */
    height: auto;
    border-radius: 20px;
}

.text-au {
    flex: 1;
    background-color: #f0f6b9; /* Color de fondo del texto */
    padding: 80px;
    border-radius: 20px;
}

.section-description {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(96, 96, 96);
}
/*Termina about us-------------------------------------------------------------------------------------------------------------------*/
/*Redes sociales----------------------------------------------------------------------------------------------------------------------*/
/* Estilos para el contenedor de los iconos */

.iconos {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icono {
    height: 10rem;
    width: 10rem;
    background-color: var(--verde);
    color: var(--blanco);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 20px;
    font-size: 30px;
    text-decoration: none;
}

.icono:hover {
    background-color: var(--cafe);
}


/*Termina redes sociales----------------------------------------------------------------------------------------------------------------*/
/*Empieza footer-----------------------------------------------------------------------------------------------------------------------*/

.footer {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna {
    margin-right: 100px;
    padding-right: 20px;
    position: relative;
}

.columna:last-child {
    margin-right: 0;
}

.columna:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px; /* Ajusta el ancho de la línea vertical */
    height: 100%; /* Ajusta la altura de la línea vertical */
    width: 1px;
    background-color: var(--blanco); /* Color de la línea vertical */
}

.columna h3 {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 5px;
}

.columna ul li a {
    color: #fff;
    text-decoration: none;
}

.columna ul li a:hover {
    text-decoration: underline;
}

.columna p {
    margin-top: 20px;
}
